<%= form_with model: profile, :class => "general-form" do |f| %>
  <turbo_frame id="profile-errors">
  </turbo_frame>
  <%= f.label :username, :class => "space-y-2 underline" do %>
    <p>Username</p>
    <%= f.text_field :username, :class => "input-area-general px-8 text-xl", placeholder: "grapepal123" %>
  <% end %>
  <%= f.submit :class => "mt-4 blue-button" %>
<% end %>