<div class="flex justify-center">
  <div class="container flex flex-col align-center gap-4 text-center mt-2">
    <h1 class="text-2xl font-bold">Changed your mind? Edit it!</h1>
    <%= render 'form', profile: @profile %>
  </div>
</div>