<div class="flex flex-col gap-4">
  <h1 class="index-header">This is <span class="text-purple-800">freecipe</span></h1>
  <p class="text-center italic md:text-lg">Want to <span class="text-blue-800">learn something new?</span></p>
  <p class="text-center italic md:text-lg">Or <span class="text-green-900">lead the others?</span></p>
  <p class="text-center text-xl md:text-2xl font-extrabold underline text-purple-500">
    <span class="text-blue-700">This</span>
    <span class="text-green-700">is</span>
    <span class="text-red-700">the</span>
    <span class="text-orange-700">place</span>!</p>
</div>

<div class="flex flex-col items-center">
  <%= link_to "Create Recipe", new_recipe_path, :class => "mt-8 green-button" %>
</div>

<div class="index-recipe-container">
  <% @recipes.each do |recipe| %>
    <div class="index-recipe">
      <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
      <p>by <%= recipe.profile.username %></p>
    </div>
  <% end %>
</div>