<div class="flex flex-col justify-center gap-6">
  <div class="flex justify-center">
    <%= link_to "Get Back", edit_recipe_path(@recipe), :class => "red-button" %>
  </div>
  <h1 class="text-2xl text-center underline">Ingredients for <%= @recipe.title %></h1>
  <ul class="ingredients-update-list">
    <% @ingredients.each do |ingredient| %>
      <li class="text-center">
        <%= render "ingredients/ing_update",
                   ingredient: ingredient %>
      </li>
    <% end %>
  </ul>
</div>
