<div class="flex flex-col gap-4 items-center">
  <h4 class="text-xl underline">
    New Ingredient
  </h4>
  <%= render "ingredients/form", recipe: @recipe %>
  <%= link_to "Back", edit_recipe_path(@recipe), :class => "red-button" %>
</div>
