<div class="flex flex-col justify-center gap-6">
  <div class="flex justify-center">
    <%= link_to "Get Back", edit_recipe_path(@recipe), :class => "red-button" %>
  </div>
  <h1 class="text-2xl text-center underline">Steps for <%= @recipe.title %></h1>
  <p class="text-xl text-center">Sorted by order. </p>
  <p class="text-center font-bold">Make sure to not confuse users with arbitrary order.</p>
  <ul class="steps-update-list">
    <% @steps.each do |step| %>
      <li class="text-center">
      <%= render "steps/step_update", step: step %>
      </li>
    <% end %>
  </ul>
</div>
