<turbo-frame id="new_step">
  <div class="flex flex-col gap-4 items-center">
    <h4 class="text-xl underline">
      New Step
    </h4>
    <%= render "steps/form", recipe: @recipe %>
  </div>
</turbo-frame>
